* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --color: #000000;

  &,
  & > div {
    overflow: hidden;
  }
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  height: 100%;
  position: relative;
}
menu {
  display: flex;

  li {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .color {
      height: 10px;
      background-color: var(--color);
    }
    .icon {
      height: 90px;

      svg {
        height: 100%;
        width: 100%;
        padding: 1rem;
        fill: black;
        background-color: white;

        &:hover {
          fill: white;
          background-color: black;
        }
      }
    }

    &.current {
      svg {
        fill: var(--color);

        &:hover {
          background-color: var(--color);
        }
      }
    }
  }
}

// black, gray, red, blue, green, yellow
[data-color="black"] {
  --color: #000000;
}
[data-color="gray"] {
  --color: #6f6f6e;
}
[data-color="red"] {
  --color: #cc5563;
}
[data-color="blue"] {
  --color: #636aac;
}
[data-color="green"] {
  --color: #3992a6;
}
[data-color="yellow"] {
  --color: #ffee54;
}
